In [5]:
import pandas as pd

In [10]:
df_original=pd.read_excel("./datasets_218262_472613_Canada.xlsx",skiprows=20)
df_original.head()

,Type,Coverage,AreaName,RegName,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Citizens,Northern America,Northern America,..,..,..,..,..,..,...,..,..,..,..,..,..,..,1,1,NaN
1,Immigrants,Foreigners,Africa,Eastern Africa,1471,1641,1426,1094,1187,1134,...,7726,7083,6750,6669,6705,6922,8591,8956,8846,NaN
2,Immigrants,Foreigners,Africa,Middle Africa,33,27,44,32,42,30,...,2452,2802,2834,2951,3034,3255,3369,3146,4602,NaN
3,Immigrants,Foreigners,Africa,Northern Africa,1100,1268,1348,936,842,840,...,12478,11323,12705,11750,13456,16320,19271,15712,15453,NaN
4,Immigrants,Foreigners,Africa,Southern Africa,1041,1126,791,387,297,327,...,1203,1012,1148,1230,1184,1235,1306,1049,1348,NaN

In [11]:
df_original=df_original.set_index("AreaName")
df_original.head()

,Type,Coverage,RegName,1980,1981,1982,1983,1984,1985,1986,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
AreaName,,,,,,,,,,,,,,,,,,,,,
Northern America,Immigrants,Citizens,Northern America,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,1,1,NaN
Africa,Immigrants,Foreigners,Eastern Africa,1471,1641,1426,1094,1187,1134,1454,...,7726,7083,6750,6669,6705,6922,8591,8956,8846,NaN
Africa,Immigrants,Foreigners,Middle Africa,33,27,44,32,42,30,61,...,2452,2802,2834,2951,3034,3255,3369,3146,4602,NaN
Africa,Immigrants,Foreigners,Northern Africa,1100,1268,1348,936,842,840,1115,...,12478,11323,12705,11750,13456,16320,19271,15712,15453,NaN
Africa,Immigrants,Foreigners,Southern Africa,1041,1126,791,387,297,327,725,...,1203,1012,1148,1230,1184,1235,1306,1049,1348,NaN

In [8]:
df_original["Total"]=df_original.sum(axis=1)